:root {
  --footer-height: 10rem;
  --nav-height: calc( 70px + env(safe-area-inset-top));
}

body {
  /* background-color: #212529; */
}

.navbar{
  padding-top: env(safe-area-inset-top)
}

#content-container {
  background-color: #ffffff;
}

#page-container{
  max-height: 100vh;
  height: 100vh;
}

#cart-icon:hover {
  cursor: pointer;
}